{
  "extends" : [
   "stylelint-config-standard"
  ],
  "rules": {
    "max-empty-lines": 4,
    "string-quotes": "single",
    "function-url-quotes": "never",
    "color-hex-length": "long",
    "number-leading-zero": "never",
    "max-nesting-depth": 2,
    "indentation": null,
    "media-feature-no-missing-punctuation": null,
    "declaration-colon-newline-after": null,
    "font-family-name-quotes": null,
    "declaration-empty-line-before": null,
    "selector-list-comma-newline-after": null
  }
}
