.red {
	border: 1px solid red;
	display: block;
}
.blue {
	border: 1px solid blue;
	display: block;
}

.red.active {
	border: 5px solid red;
}

.green {
	border: 1px solid green;
	display: block;
}
body {
	font-family: 'maybebold';
}

@include breakpoint(phablet){
	.green {
		border: 2px solid pink;
	}
}