<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Nuworks</title>
  <link rel='stylesheet' href='./main.bundle.css'>
  <link rel='stylesheet' href='./bootstrap.bundle.css'>
</head>

<body>

<div class="row">
	<div class="container">
		<h3 class="mixins-center">Partial Header</h3>
		<div>
			<p>Welcome to Webpack 3 Taskrunner</p>
		</div>
		<h3>Use of background-image</h3>
		<div class="container">
			<div class="col-md-6">
				<div class="icon-camera"></div>
				<div class="icon-landscape"></div>
				<div class="icon-picture"></div>
			</div>
			<div class="col-md-6">
			<ul>
				<li>
					<a href="contacts.html">Contacts</a>
				</li>
				<li>
					<a href="about-us.html">About US</a>
				</li>
			</ul>
			</div>
		</div>
		<div class="red">
			UNCSS work only when html marked-up was fully deleted. Commented marked-up will
			still retain css bind to it. 2
		</div>
	</div>
</div>
